//
$tr-time: 0.25s;
$slow: 0.5s;

// colors
$white: #ffffff;
$dark: #333333;
$accent: #2352de;
$light-blue: #7792e0;
$gray: #f6f6f8;
$border-color: #dbdbed;
$dark-bg: #343740;
$placeholder-color: #9c9cab;

// width
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
